        <footer>
            <div class="content-block">
                <ul>
                    <li class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
                        <h3>* O nás</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Fusce tellus. Aenean id metus id velit ullamcorper pulvinar. Pell</p>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
                        <h3>Nejnovější seriály</h3>
                        <ul>
                            <li><a href="#">Hulk</a></li>
                            <li><a href="#">Simpsnovi</a></li>
                            <li><a href="#">Himym</a></li>
                            <li><a href="#">Tbbt</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="line"></div>
                <p>opyright 2016 gratis-video.com. Všechna práva vyhrazena.</p>
            </div>
        </footer>
    </body>
<html>