<!DOCTYPE html>
<html>
    <head>
	    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gratis-Video</title>
        <!-- JQUERY -->
        <script src="vendor/frameworks/jquery/jquery.min.js"></script>
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="vendor/twitter/bootstrap/dist/css/bootstrap.min.css"/>
        <script src="vendor/twitter/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- STYLE -->
        <link rel="stylesheet" href="CSS/header.css"/>
        <link rel="stylesheet" href="CSS/content.css"/>
        <link rel="stylesheet" href="CSS/footer.css"/>
        <link rel="stylesheet" href="CSS/serial_slider.css"/>
        <!-- SCRIPTS -->
        <script src="JS/scripts.js"></script>
        <script type="text/javascript" src="JS/jssor.slider.mini.js"></script>
        <script src="JS/serial_slider.js"></script>
    </head>
    <body>
        <header>
            <img src="Images/gratis_video.png" />
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Zde napište co hledáte ...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                </div>
            <!--<h4>Všechna videa zdarma ke shlédnutí i ke stažení.</h4>-->
        </header>